@use "../../../styles/variables" as *;

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: rgba($color-primary, 0.03);
  border: 1px solid rgba($color-primary, 0.2);
  border-radius: $border-radius-md;
  margin-top: $spacing-xl;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-md;
  }
}

.title {
  font-size: 18px;
  color: $color-primary;
  margin-bottom: 4px;
  font-weight: bold;
}

.description {
  color: $color-text-sub;
  font-size: 14px;
}
